

/*================== Home ===========================*/


#container_user{
    width: 80%;
    max-width: 600px;
    min-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;

}

    #container_user div{
        width: 100%;
        padding: 5px;
    }



 /* Point Resser */   

    #container_point_resser{
        height: 120px;
        width: 50%;
        max-width: 200px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 15px;
    }
        .number_point{
            font-size: 6rem;
            align-self: flex-end;
        }
        .text_point{
            align-self: flex-end;
            font-size: 1.2rem;
        }


/* Enterprise */

    #organizations_recycle{
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        #organizations_recycle p{
            font-size: 1.4rem;
        }



/* Partners */

    #partners{
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        #partners p{
            font-size: 1.4rem;
        }

        .slideshow{
            width: 90%;
            height: 150px;
            margin: auto;
            overflow: hidden;
            
        }
            .slider_partners{
                display:flex;
                padding: 0px;
                width: 100%;
            }
                .slider_partners li{
                    list-style: none;
                    width: 100%;
                    background-color: #FFFF;
                    padding: 0px 5px;
                }
                    .slider_partners li img{
                        width: 100%;
                        height: 150px;
                        object-fit: contain;
                    }
            .slider_enterprise{
                display:flex;
                padding: 0px;
                width: 100%;
            }
                .slider_enterprise li{
                    list-style: none;
                    width: 100%;
                    background-color: #FFFF;
                    padding: 0px 5px;
                }
                    .slider_enterprise li img{
                        width: 100%;
                        height: 150px;
                        object-fit: contain;
                    }                    

        .direcciones_partners{
            display: none;
        }

        .direcciones_enterprise{
            display: none;
        }


/*================== Recycling Point ===========================*/

    #title_point_recycle{
        display: flex;
        justify-content: center;
    }
        #title_point_recycle h2{
            text-align: center;
        }

    #img_point_recycle{
        display: flex;
        justify-content: center;
    }
        #img_point_recycle img{
            height: auto;
            width: 100%;
            max-width: 350px;
            min-width: 300px;
            border-radius: 20px;
        }
    
    #content_point_recycle{
        height: auto;
        width: 100%;
        max-width: 350px;
        min-width: 250px;
    }
        #content_point_recycle p{
            text-align: center;
        }

        .elements_form{
            width: 100%;
            max-width: 350px;
            min-width: 250px;
            height: 50px;
            padding: 5px;
            overflow: hidden;
        }
            .elements_form button{
                height: 40px;
                width: 100%;
                border-radius: 7px;
                color: white;
                background-color:#228B22;
                border: 1px solid #003366;
                font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 1.1em;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .elements_form button a{
                    color: white;
                    text-decoration: none;
                    width: inherit;
                    display: block;
                    
                }


    #title_action_1{
        display: flex;
        justify-content: center;
    }      
 
/*================== Shopping ===========================*/    

    #title_shopping{
        display: flex;
        justify-content: center;
    }
        #title_shopping h2{
            text-align: center;
        }

    .shopping{
        width: 100%;
        max-width: 450px;
        height: 160px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
        display: grid;
        grid-template-columns: 2fr 2fr 30px;
        border-radius: 10px;
    }
        .img_shopping{
           display: flex;
           justify-content: center;
           align-items: center;
          
        }    
            .img_shopping img{
                height: 150px;
                width: inherit;
                object-fit: contain;
            }
        .text_shopping{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            .text_shopping p{
                font-size: 0.9rem;
            }
        .buttom_shopping{
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
            .buttom_shopping a{
                display: inline-block;
                padding: 20px;
                text-decoration: none;
                font-size: 30px;
                opacity: 0.7;
                transition: .5s;
                color: #003366;
            }



/*================== Libraries ===========================*/    

    #library{
        height: 100px;
        background-color: aquamarine;
    }