:root{
    --width_nav: 180px;
}

*{  padding: 0;
    margin: 0;
    -webkit-box-sizing:border-box ;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    
}

#container_global{
    display: grid;
    grid-template-rows: auto auto auto;
    width: 100%;
    height: 100%;
    margin: auto;  
    
}

h1,h2,h3,h4,h5,p{
    color: #003366;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*==================================== NAV ============================================================*/



#section_nav_mobile{
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    box-shadow: 0 -4px 8px -2px rgba(0, 0, 0, 0.2);
    border-top: 0.05px solid black;
    z-index: 100;
    display: flex;
    justify-content: center;
    background-color: #FFFF;
}

    #container_nav_mobile{
        width: 100%;
        max-width: 600px;
        height: inherit;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

        .img_nav{
            width: 25px;
            height: 25px;
        }