{% extends "admin/base_admin.html" %}

{% block title %} 
<title>Setting Admin</title>
{% endblock %} 

{% block content %}
    <section id="presentation_users">
        <div id="titulo_users">
            <br>
            <h3 style="color: black;">
            Configuraciones del administrador
            </h3>
        </div>
        <br>
        <p>Comenzaremos con agregar las tablas de las Areas y Empleos de Trabajo</p>
        <br>
        <p>También agregaremos las tablas de Locación, como país, región y comuna</p>
    </section>
{% endblock %}  