{% extends 'front/base_front.html' %}

{% block title %} 
<title>Home</title>
{% endblock %}


{% block content %}

    <div id="container_index">

        <div id ="container_presentation">
            <div id="presentation">    
                <div id="presentation_title">
                    <h1>Recycler intelligemment <br> avec EcoScan</h1>
                </div>
                <div>
                    <p class="text_service">Téléchargez EcoScan et découvrez les avantages du recyclage intelligent dès aujourd'hui.</p>
                </div>
                <div id="container_apps_store">
                    <div>
                        <a href="#app_store"><img src="{{ url_for('static', path='/img/front/app_store.png') }}" alt="app_store" class="app_store" id="app_store"></a>
                    </div>
                    <div>
                        <a href="#google_play"><img src="{{ url_for('static', path='/img/front/google_play.png') }}" alt="google_play" class="app_store" id="google_play"></a>
                    </div>
                </div>
            </div>
            
            <div id="img_presentation">
                <img src="{{ url_for('static', path='/img/front/copia_montri_3.png') }}" alt="" class="img_portafolio">
            </div>
            
        </div>

        <div id="section_service">
            <div id="img_service">
                <img src="{{ url_for('static', path='/img/front/copia_montri_2_v2.png') }}" alt="">
            </div>

            <div id="content_service">
                <p class="text_service">Utilisez la technologie pour un recyclage plus intelligent. Scanner, trier et recycler avec facilité.</p>
            </div>
        </div>

        <div id="welcome_to_app">
            <div id="img_avatar">
                <img src="{{ url_for('static', path='/img/front/test_app.png') }}" alt="welcome_to_app">
            </div>
            <div id="welcome_button">
                <div>
                    <a href="/welcome_1"><button type="button">Test App</button></a>
                </div>
                
            </div>
        </div>
        
        <div id="container_slideshow">
            <div id="title_slide" style="margin-bottom: 30px;">
                <h2>Nos Partenaires</h2>
            </div>

            <div class="slideshow">
                <ul class="slider">
                    <li>
                        <img src="{{ url_for('static', path='img/partners/img_lorraine.png') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', path='img/partners/img_erpi.png') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', path='img/partners/foire.jpg') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', path='img/partners/img_ensgsi.png') }}">
                    </li>
                    <li>
                        <img src="{{ url_for('static', path='img/partners/img_usach.jpg') }}">
                    </li>
                </ul>
            </div>
            <div class="direcciones">
                <a class="atras">&#10094;</a>
                <a class="adelante">&#10095;</a>
            </div>
        </div>



    </div>

{% endblock %}