
{% block head %}
<script src="{{ url_for('static', path='/scripts/scripts_sen.js') }}"></script>
{% endblock %}


    <div id="content_sen">

        <div class="title_proyect">
            <h4>Tabla de resultados: Predicción de la primera semana de sepiembre 2021</h4>
        </div>   
        <table  class="tabla_resultado">
            <thead>
                <tr>
                    <th><p>Fecha</p></th>
                    <th><p>Demanda real [MW]</p></th>
                    <th><p>Predicción [MW]</p></th>
                </tr>
            </thead>
            <tbody>
                {% for valor in n_predicts %}
                <tr>
                    {% for element in resultados.keys() %}
                    <td><p class="content_table">{{resultados[element][valor]}}</p></td>
                    {% endfor %}
                </tr>
                {% endfor %}    
            </tbody>
        </table>
        <div id="container_grafica">
            <canvas id="myChart"> </canvas>
        </div> 
    </div>

                   
