{% extends 'front/base_front.html' %}

{% block title %} 
<title>Servicios</title>
{% endblock %} 

{% block head %}
<script src="{{ url_for('static', path='/scripts/scripts_front.js') }}"></script>
{% endblock %}



{% block content %} 
<div id="viendo">
    <div id="title_section_plans">
        <h2>Nuestros planes para ti</h2>
    </div>
    <section id="price_table_container">
        <!-- Tabla 1-->
        <div class="table">
            <div class="title">Basic</div>
            <div class="price">
                <span class="currency">$</span>
                <span class="number">60.000</span>
                <span class="frequency">/mes</span>
            </div>
            <p>Plan 1 mes</p>
            <div class="features">
                <ul>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                </ul>
            </div>
            <div class="actions">
                <a href="#" class="btn">Suscribite a Basic</a>
            </div>
        </div>
        <!-- Tabla 2 -->
        <div class="table">
            <div class="title">Advance</div>
            <div class="price">
                <span class="currency">$</span>
                <span class="number">55.000</span>
                <span class="frequency">/mes</span>
            </div>
            <p>Plan 3 meses</p>
            <div class="features">
                <ul>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                </ul>
            </div>
            <div class="actions">
                <a href="#" class="btn">Suscribite a Advance</a>
            </div>
        </div>
        <!-- Tabla 3-->
        <div class="table recommended">
            <div class="title">Expert</div>
            <div class="price">
                <span class="currency">$</span>
                <span class="number">50.000</span>
                <span class="frequency">/mes</span>
            </div>
            <p>Plan 1 año</p>
            <div class="features">
                <ul>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                </ul>
            </div>
            <div class="actions">
                <a href="#" class="btn recommended">Suscribite a Expert</a>
            </div>
        </div>
        <!-- Tabla 4-->
        <div class="table">
            <div class="title">Company</div>
            <div class="price">
                <span class="currency">$</span>
                <span class="number">75.000</span>
                <span class="frequency">/mes</span>
            </div>
            <p>Plan 1 año</p>
            <div class="features">
                <ul>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                    <li>
                        <span 
                            class="iconify-inline" 
                            data-icon="flat-color-icons:approval"
                            data-width="18"
                            data-height="18"></span>
                        Ease Access
                    </li>
                </ul>
            </div>
            <div class="actions">
                <a href="#" class="btn">Suscribite a Company</a>
            </div>
        </div>
    </section>
    </div>
    <div id="title_section_services">
        <h2>Los servicios que tendras</h2>
    </div>
    <section id ="section_services">
        {% for service in services %}
        <div class ="content_service">
            <div class="title_service">
                <h4>{{service['title']}}</h3>
            </div>
        
            <div class="service">
                <div class="img_service">
                    <img src="{{ url_for('static', path=service['path_img_service']) }}" alt="img_services">
                </div>
                <div class="content_text_service">
                    <div class="text_service">
                        <p>{{service['content']}}</p>
                    </div>
                    <div class="actions" style="width: 70%;">
                        <a href="#" class="btn">Saber más</a>
                    </div>
                    
                </div>
            </div>
        </div>   
        {% endfor %}
    </section>
    <br>
    <br>
    
    <section>
        <p>Contenido que irá cambiando dependiendo del servicio que se quiera saber...</p>
    </section>
    <br>
    <br>
    
    <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore sint est eveniet atque quae reiciendis dicta fugiat iste perspiciatis molestiae laboriosam, pariatur tempore? Alias nihil tenetur soluta odit voluptatum eveniet.</p>
    <br>
    <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore sint est eveniet atque quae reiciendis dicta fugiat iste perspiciatis molestiae laboriosam, pariatur tempore? Alias nihil tenetur soluta odit voluptatum eveniet.</p>
    <br>
    <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore sint est eveniet atque quae reiciendis dicta fugiat iste perspiciatis molestiae laboriosam, pariatur tempore? Alias nihil tenetur soluta odit voluptatum eveniet.</p>
    <br>
    <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore sint est eveniet atque quae reiciendis dicta fugiat iste perspiciatis molestiae laboriosam, pariatur tempore? Alias nihil tenetur soluta odit voluptatum eveniet.</p>
    <br>
    <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore sint est eveniet atque quae reiciendis dicta fugiat iste perspiciatis molestiae laboriosam, pariatur tempore? Alias nihil tenetur soluta odit voluptatum eveniet.</p>
    <br>
    <br>
{% endblock %} 