{% extends "users/base_user.html" %} 

{% block title %} 
<title>Perfil</title>
{% endblock %}


{% block content %} 

    <section id="section_scanner" style="margin-top: 130px; width: 80%; ">
                
        <div id="camera-container" class="hidden">
            <div id="camera" style="width: 100%; height: 100%;"></div>
            <button class="close-button" onclick="resetCamera()">Cerrar</button>
        </div>
        <div class="container_button_search elements_form">
            <button class="button_scan" onclick="startScanner();">Escanear</button>
        </div>
        <div id="container_message">
            <p id="message"></p>
        </div> <!-- Div para mostrar el mensaje -->
        
        <script src="https://cdn.jsdelivr.net/npm/@ericblade/quagga2/dist/quagga.min.js"></script>
        <script>
            function startScanner() {
                // Mostrar el contenedor de la cámara en modo fullscreen
                const cameraContainer = document.getElementById('camera-container');
                cameraContainer.classList.remove('hidden');
                cameraContainer.classList.add('fullscreen');
        
                const quaggaConf = {
                    inputStream: {
                        target: document.querySelector("#camera"),
                        type: "LiveStream",
                        constraints: {
                            width: { min: 640 },
                            height: { min: 480 },
                            facingMode: "environment",
                            aspectRatio: { min: 1, max: 2 }
                        }
                    },
                    decoder: {
                        readers: ['ean_reader',] // lector correcto para EAN-13
                    },
                };
        
                Quagga.init(quaggaConf, function (err) {
                    if (err) {
                        console.log(err);
                        alert('Error starting Quagga: ' + err.message);
                        return;
                    }
                    Quagga.start();
                });
        
                Quagga.onDetected(function (result) {
                    if (result.codeResult && result.codeResult.code) {
                        console.log("Código escaneado: " + result.codeResult.code);
                        Quagga.stop(); // Detener Quagga después de la detección
                        processBarcode(result.codeResult.code);
                    } else {
                        console.error("Código no detectado correctamente.");
                        alert('Error detecting barcode');
                    }
                });
            }
        
            function processBarcode(code) {
                console.log('Enviando código al servidor:', code);
                fetch('/get_barcode', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ barcode: code })
                }).then(response => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Something went wrong on server!');
                    }
                }).then(data => {
                    console.log('Respuesta del servidor:', data); // Agrega este log para verificar la respuesta
                    if (data.redirect) {
                        window.location.href = data.redirect; // Redirecciona usando la URL proporcionada por el servidor
                    } else if (data.message) {
                        resetCamera(); // Resetea la cámara después de mostrar el mensaje
                        document.getElementById('message').innerText = data.message; // Muestra el mensaje en la página
                    } else {
                        alert('Unexpected response from server.');
                    }
                }).catch(err => {
                    console.error('Error processing barcode:', err);
                    alert('Error processing barcode: ' + err.message);
                    resetCamera(); // Resetea la cámara en caso de error
                });
            }
        
            function resetCamera() {
                const cameraContainer = document.getElementById('camera-container');
                cameraContainer.classList.remove('fullscreen');
                cameraContainer.classList.add('hidden');
                document.getElementById('message').innerText = ''; // Limpiar el mensaje
            }
        </script>
        
        

    </section>


{% endblock %}