{% extends "users/base_user.html" %} 

{% block title %} 
<title>Planes</title>
{% endblock %}


{% block content %} 
<div id="viendo">
<div id="title_section_plans">
    <h2>Nuestros planes para ti</h2>
</div>
<section id="price_table_container">
    <!-- Tabla 1-->
    {% for plan in plans %}
    <div class="table">
        <div class="title">{{plan.name.value}}</div>
        <div class="price">
            <span class="currency">$</span>
            <span class="number">{{ '{:,.0f}'.format(plan.price)|replace(",", ".") }}</span>
            <span class="frequency">/mes</span>
        </div>
        <p>Plan {{plan.renewal}}</p>
        <div class="features">
            <ul>
                <li>
                    <span 
                        class="iconify-inline" 
                        data-icon="flat-color-icons:approval"
                        data-width="18"
                        data-height="18"></span>
                    Ease Access
                </li>
                <li>
                    <span 
                        class="iconify-inline" 
                        data-icon="flat-color-icons:approval"
                        data-width="18"
                        data-height="18"></span>
                    Ease Access
                </li>
                <li>
                    <span 
                        class="iconify-inline" 
                        data-icon="flat-color-icons:approval"
                        data-width="18"
                        data-height="18"></span>
                    Ease Access
                </li>
                <li>
                    <span 
                        class="iconify-inline" 
                        data-icon="flat-color-icons:approval"
                        data-width="18"
                        data-height="18"></span>
                    Ease Access
                </li>
                <li>
                    <span 
                        class="iconify-inline" 
                        data-icon="flat-color-icons:approval"
                        data-width="18"
                        data-height="18"></span>
                    Ease Access
                </li>
                <li>
                    <span 
                        class="iconify-inline" 
                        data-icon="flat-color-icons:approval"
                        data-width="18"
                        data-height="18"></span>
                    Ease Access
                </li>
            </ul>
        </div>
        <div class="actions">
            <a href="/planes/{{plan.name.value}}" class="btn {{plan.name.value}}">Suscribite a {{plan.name.value}}</a>
        </div>
    </div>
    {% endfor %}
</section>
</div>
<div id="title_section_services">
    <h2>Los servicios que tendras</h2>
</div>
<section id ="section_services">
    {% for service in services %}
    <div class ="content_service">
        <div class="title_service">
            <h4>{{service['title']}}</h3>
        </div>
    
        <div class="service">
            <div class="img_service">
                <img src="{{ url_for('static', path=service['path_img_service']) }}" alt="img_services">
            </div>
            <div class="content_text_service">
                <div class="text_service">
                    <p>{{service['content']}}</p>
                </div>
                <div class="actions" style="width: 70%;">
                    <a href="#" class="btn">Saber más</a>
                </div>
                
            </div>
        </div>
    </div>   
    {% endfor %}
</section>
<br>
<br>

{% endblock %}