{% extends "users/base_user.html" %} 

{% block title %} 
<title>Perfil</title>
{% endblock %}


{% block content %} 

<div id="container_user">
                
    <div id="welcome_user">
        <h2>
            <strong>Bienvenue!</strong>
        </h2>
    </div>

    <div id="container_point_resser" > 
        <p class="number_point">0</p>
        <p class="text_point">Pts</p>
    </div>

    <div class="shopping" > 
        <div class="img_shopping">
            <img src="{{ url_for('static', path='img/start_to_scanner.png') }}">
        </div>
        <div class="text_shopping">
            <h3>Produits scannés</h3>
            <p>Vous n'en avez pas encore. Commencez dès maintenant!</p>
        </div>
        <div class="buttom_shopping" onclick="startBarcodeScanner()">
            <a class="adelante">&#10095;</a>
        </div>
    </div>

    <div class="shopping" > 
        <div class="img_shopping">
            <img src="{{ url_for('static', path='img/porcentaje_descuento.jpg') }}">
        </div>
        <div class="text_shopping">
            <p>Découvrez tous les avantages que Resser a pour vous!</p>
        </div>
        <div class="buttom_shopping">
            <a class="adelante">&#10095;</a>
        </div>
    </div>
    
    <div id="organizations_recycle">
        <p><strong>Organisations qui valorisent</strong></p>

        <div class="slideshow">
            <ul class="slider_enterprise">
                <li>
                    <img src="{{ url_for('static', path='img/partners/enterprise/green_fablab.png') }}">
                </li>
                <li>
                    <img src="{{ url_for('static', path='img/partners/enterprise/saju.png') }}">
                </li>
                <li>
                    <img src="{{ url_for('static', path='img/partners/enterprise/reciclapp.png') }}">
                </li>
            </ul>
        </div>
        <div class="direcciones_enterprise">
            <a class="atras">&#10094;</a>
            <a class="adelante">&#10095;</a>
        </div>
    </div>

    <div id="partners">
        <p><strong>Partenaires</strong></p>

        <div class="slideshow">
            <ul class="slider_partners">
                <li>
                    <img src="{{ url_for('static', path='img/partners/img_lorraine.png') }}">
                </li>
                <li>
                    <img src="{{ url_for('static', path='img/partners/img_erpi.png') }}">
                </li>
                <li>
                    <img src="{{ url_for('static', path='img/partners/foire.jpg') }}">
                </li>
                <li>
                    <img src="{{ url_for('static', path='img/partners/img_ensgsi.png') }}">
                </li>
                <li>
                    <img src="{{ url_for('static', path='img/partners/img_usach.jpg') }}">
                </li>
            </ul>
        </div>
        <div class="direcciones_partners">
            <a class="atras">&#10094;</a>
            <a class="adelante">&#10095;</a>
        </div>


    </div>
        
</div>


{% endblock %}