{% extends "users/base_user.html" %} 

{% block title %} 
<title>Puntos de Reciclaje</title>
{% endblock %}


{% block content %} 

<div id="container_user">
                
    <div id="title_point_recycle">
        <h2>
            <strong>Points de recyclage!</strong>
        </h2>
    </div>

    <div id="img_point_recycle" > 
        <img src="{{ url_for('static', path='img/mapa.png') }}">
    </div>
    <div id="content_point_recycle">
        <p>Trouvez vos points de recyclage rapidement grâce à la géolocalisation de votre appareil!</p>
        <div class="elements_form position_welcome">
            <button type="button"><a href="/point_collector">Points à proximité</a></button>
        </div>
    </div>
        
</div>


{% endblock %}