{% extends "users/base_user.html" %} 

{% block title %} 
<title>Actualizar</title>
{% endblock %}


{% block content %} 

    <section id="presentation_users" style="margin-top: 10px;">
                
        <div id="titulo_users">
            <h2 class="articulos_ne" style="color: black;">
                <strong>Actualizar información de perfil</strong>
            </h2>
        </div>

        <section id="section_info_user">

            <div id="title_info_user">
                <h3>Información personal</h3>
            </div>
            <br>
            <div id="container_form_user">
                <form method="POST" action="/{{user['first_name']}}-{{user['last_name']}}/update" enctype="multipart/form-data" id="form_update_data_user">
                    <div class="container_data_user">  
                        <div class="elements_form_user">
                            <span class="text_data_input">Email:</span> 
                            <input type="email" value="{{user['email']}}" name="email" required = True disabled="True">
                        </div>            
                        <div class="elements_form_user">
                            <span class="text_data_input">Nombre:</span> 
                            <input type="text" value="{{user['first_name']}}" name="first_name" required = True>
                        </div>
                        <div class="elements_form_user">
                            <span class="text_data_input">Apellido:</span> 
                            <input type="text" value="{{user['last_name']}}" name="last_name" required = True>
                        </div>
                    </div>
                    <div class="container_data_user">
                        <div class="elements_form_user">
                            <span class="text_data_input">Foto de Perfil:</span>
                            <input type="file"  name="img_profile">
                        </div>     
                    </div>
                    <div class="container_data_user">
                        <div class="elements_form_user">
                            <button type="submit" style="color: black;">Actualizar</button>
                        </div>
                        <div class="elements_form_user">
                            <button type="button"><a href="/profile/{{user['username']}}">Volver</a></button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
        <br>
    <div class="container_form_front" style="margin-left: 30px;">
        <div class="options_info">
            <h3 style="font-weight: bold;">Deseo que la factura posea mi información:</h3>
            <br>
            <input type="radio" name="option_facturation" id="personal" value="Personal" checked>
            <label for="personal">Personal</label><br>
            <input type="radio" name="option_facturation" id="empresa" value="Empresa">
            <label for="empresa">Empresa</label><br>
        </div>
        <br>
        <section class="content_client">
            <form action="">
                <table>
                    <tr>
                        <th class="name_field">Rut:</th>
                        <td><input type="text" name="rut" required ="true"></td>
                    </tr>
                    <tr>
                        <th class="name_field">Dirección:</th>
                        <td><input type="text" name="direction" required ="true"></td>
                    </tr>
                    <tr>
                        <th class="name_field">Comuna:</th>
                        <td><input type="text" name="commune" required ="true"></td>
                    </tr>
                    <tr>
                        <th class="name_field">País:</th>
                        <td><input type="text" name="country" required ="true"></td>
                    </tr>
                    <tr>
                        <th class="name_field">Telefono:</th>
                        <td><input type="text" name="phone_client" required ="true"></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td><button type="submit">Guardar</button></td>
                    </tr>
                </table>
            </form>
        </section>
        <section id="content_client_company">
            <form action="">
                <table>
                    <tr>
                        <th class="name_field">Nombre Empresa:</th>
                        <td><input type="text" name="name_company" required ="true"></td>
                    </tr>
                    <tr>
                        <th class="name_field">Razón Social:</th>
                        <td><input type="text" name="rut" required ="true"></td>
                    </tr>
                    <label for="nombre_empresa">Nombre Empresa:</label>
                    <input type="text" name="nombre_empresa" required ="True"><br>
                    <label for="razon_social">Razón Social:</label>
                    <input type="text" name="razon_social" required ="True"><br>
                    <label for="rut">Rut:</label>
                    <input type="text" name="rut" required ="True"><br>
                    <label for="direccion">Dirección:</label>
                    <input type="text" name="direccion" required ="True"><br>
                    <label for="comuna">Comuna:</label>
                    <input type="text" name="comuna" required ="True"><br>
                    <label for="pais">País:</label>
                    <input type="text" name="pais" required ="True"><br>
                    <label for="telefono">Telefono de contacto:</label>
                    <input type="text" name="telefono" required ="True"><br>
                    <button type="submit">Guardar</button>
                </table>
            </form>
        </section>
    </div>
    
</section>


{% endblock %}